common --java_runtime_version=remotejdk_11
common --test_output=errors

# rules_antlr is still a WORKSPACE-only thing
common --enable_workspace

# Extra flags to improve the reproducibility
common --incompatible_disallow_empty_glob
common --incompatible_strict_action_env
common --nolegacy_external_runfiles
common --nobuild_runfile_links
common --noincompatible_enable_cc_toolchain_resolution

# A user specific configuration that have local settings to save the user
# from typing a lot in their terminal. See ../docs/bazel.md for more info.
try-import %workspace%/user.bazelrc
