
{{- $scope := .pkg }}
{{- $field_name := .field_name }}
{{- $field := .field }}
{{- $native := .native }}
{{- $traits := goArrayTraits $scope $native.Type }}

{{- if eq $traits "ztype.ObjectArrayTraits" }}
    {{ $field.Name }}ArrayProperties := ztype.ObjectArray[{{ goType $scope $native.Type }}, *{{ goType $scope $native.Type }}]{}
    {{ $field.Name }}ArrayProperties.ArrayTraits = {{ template "instantiate_array_traits.go.tmpl" dict "pkg" $scope "type" $native.Type }}
{{- else }}
    {{ $field.Name }}ArrayProperties := ztype.Array[{{if $native.IsMarshaler }}*{{ end }}{{ goType $scope $native.Type }}, {{ template "array_traits_type.go.tmpl" dict "pkg" $scope "type" $native.Type }}]{}
    {{ $field.Name }}ArrayProperties.ArrayTraits = {{ template "instantiate_array_traits.go.tmpl" dict "pkg" $scope "type" $native.Type }}
{{- end }}

{{- if $field.Array.IsPacked }}
    {{ $field.Name }}ArrayProperties.IsPacked = true
{{- end }}
{{- if $field.Array.Length }}
    {{ $field.Name }}ArrayProperties.FixedSize = int({{ goExpression $scope $field.Array.Length }})
{{- else }}
    {{ $field.Name }}ArrayProperties.IsAuto = true
{{- end }}
