{{ $scope := .pkg }}
{{ $field_name := .field_name }}
{{ $array := .array }}
{{ $type := .type }}
{{- $traits := goArrayTraits $scope $type }}

{{- $field_name }}.ArrayTraits = {{ template "instantiate_array_traits.go.tmpl" dict "pkg" $scope "type" $type }}
{{- if $array.IsPacked }}
    {{ $field_name }}.IsPacked = true
{{- end }}
{{- if $array.Length }}
    {{ $field_name }}.FixedSize = int({{ goExpression $scope $array.Length }})
{{- else }}
    {{ $field_name }}.IsAuto = true
{{- end }}
{{- if eq $traits "ztype.ObjectArrayTraits" }}
    {{ $field_name }}.ArrayTraits.DefaultObject = new({{ goType $scope $type }})
{{- end }}