
{{- $scope := .pkg }}
{{- $field := .field }}
{{- $native := .native }}
{{- $field_name := .field_name }}
{{- $use_index_operator := hasIndexOperators $field.Type }}
{{- if $field.Type.TypeArguments }}
    {{- if $field.Array }}
        {{ $field.Name }}ArrayProperties.SetCompoundParameterFn = func(index int, elem *{{ goType $scope $native.Type }}) {
     {{- end}}
    {{- if $use_index_operator }}
    // This array uses the index operator. The following for loop passes
    // all parameters to individual default objects. Since the @index
    // operator is used, each default object entry may look differently.
    {{- end }}
    {{- $type_parameter := getTypeParameter $scope $field.Type }}
    {{- range $i, $argument := $field.Type.TypeArguments }}
        {{- $current_type_parameter := index $type_parameter $i }}
        {{- if $field.Array }}
            elem.{{ $current_type_parameter.Name}} = {{ goType $scope $current_type_parameter.Type }}({{ goExpression $scope $argument }})
        {{- else }}
            {{ $field_name }}.{{ $current_type_parameter.Name}} = {{ goType $scope $current_type_parameter.Type }}({{ goExpression $scope $argument }})
        {{- end }}
    {{- end}}
    
    {{- if $field.Array }}
        }
    {{- end }}
{{- end }}
