{{ $scope := .pkg }}
{{ $field := .field }}
{{ $native := goNativeType $scope $field.Type }} 
{{- $field_name := printf "v.%s" $field.Name }}
{{- if and $native.RequiresCast (not $field.Array) }}
    {{- if $native.IsMarshaler }}
        {{- $field_name = printf "(*%s)(&v.%s)" (goType $scope $native.Type) $field.Name }}
        {{- if $field.IsOptional}}
            {{- $field_name = printf "(*%s)(v.%s)" (goType $scope $native.Type) $field.Name }}
        {{- end }}
    {{- end }}
{{- end }}

{{- if and (not $field.IsOptional) (not $field.Array) }}
    {{- if $native.IsMarshaler }}
        if err := {{- $field_name }}.LoadDefaultValues(); err != nil {
            return err
        }
    {{- else if not $field.Array }}
        {{- if $field.Initializer }}
        {{- $field_name }} = {{ if $native.RequiresCast }}{{ goType $scope $field.Type }}({{ end }}{{ goExpression $scope $field.Initializer }}{{ if $native.RequiresCast }}){{ end }}
        {{- end }}
    {{- end }}
{{- end }}
