
{{- $scope := .pkg }}
{{- $field := .field }}
{{- $field_name := .field_name }}

{{- if $field.Type.TypeArguments }}
    {{- if $field.Array }}
        for _, element := range {{ $field_name }} {
        {{- $field_name = "element" }}
    {{- end }}
    {{- if $field.IsOptional }}
        {{- $field_name = "element" }}
    {{- end }}
    {{- $type_parameter := getTypeParameter $scope $field.Type }}
    {{- range $i, $argument := $field.Type.TypeArguments }}
        {{- $current_type_parameter := index $type_parameter $i }}
        {{ $field_name }}.{{ $current_type_parameter.Name}} = {{ goType $scope $current_type_parameter.Type }}({{ goExpression $scope $argument }})
    {{- end}}
    {{- if $field.Array }}
    }
    {{- end }}
{{- end }}
