{{ $scope := .pkg }}
{{ $field_name := .field_name }}
{{ $array := .array }}
{{ $type := .type }}
{{- $field_name }}.ArrayTraits = {{ template "instantiate_array_traits.go.tmpl" dict "pkg" $scope "type" $type }}
{{- if $array.IsPacked }}
    {{ $field_name }}.IsPacked = true
{{- end }}
{{- if $array.Length }}
    if {{ $field_name }}.Size() != int({{ goExpression $scope $array.Length }}) {
        return errors.New("array size does not match!")
    }
{{- else }}
    {{ $field_name }}.IsAuto = true
{{- end }}
