{{ $scope := .pkg }} 
{{ $enum := .enum }}
{{ $options := .options }}
{{ $native := goNativeType $scope $enum.Type }}

{{ $enum.Comment }}
type {{ $enum.Name }} {{ goType $scope $enum.Type }}
const (
{{- range $item := $enum.Items }}
    {{- if $item.Comment}}
        {{ $item.Comment }}
    {{- end}}
    {{ $enum.Name }}{{ $item.Name }} {{ $enum.Name }} = {{ if eq $item.ResultType "int" }}{{ .ResultIntValue }}
    {{- else if eq $item.ResultType "string" }}{{ .ResultStringValue }}
    {{- else }}UNSUPPORTED
    {{- end }}
{{- end }}
)

var _{{ $enum.Name }}Names = []string{
{{- range $ix, $item := $enum.Items }}
    "{{ $item.Name }}",
{{- end }}
}

var _{{ $enum.Name }}Values = []{{ $enum.Name }}{
{{- range $ix, $item := $enum.Items }}
    {{ $enum.Name }}{{ $item.Name }},
{{- end }}
}

var _{{ $enum.Name }}Name = map[{{ $enum.Name }}]string{
{{- range $ix, $item := $enum.Items }}
    {{ $enum.Name }}{{ $item.Name }}: "{{ $item.Name }}",
{{- end }}
}

var _{{ $enum.Name }}NameToValue = map[string]{{ $enum.Name }}{
{{- range $ix, $item := $enum.Items }}
    "{{ $item.Name }}": {{ $enum.Name }}{{ $item.Name }},
{{- end }}
}

// {{ $enum.Name }}Values returns all values of the enum
func {{ $enum.Name }}Values() []{{ $enum.Name }} {
  return _{{ $enum.Name }}Values
}

// {{ $enum.Name }}Strings returns a slice of all string values of the enum
func {{ $enum.Name }}Strings() []string {
  strs := make([]string, len(_{{ $enum.Name }}Names))
  copy(strs, _{{ $enum.Name }}Names)
  return strs
}

// {{ $enum.Name }}String converts a string to an enum value. If the string
// does not match a known value an error is returned.
func {{ $enum.Name }}String(s string) ({{ $enum.Name }}, error) {
  if value, found := _{{ $enum.Name }}NameToValue[s]; found {
      return value, nil
  }

  var zero {{ $enum.Name }}
  return zero, fmt.Errorf("%s does not belong to {{ $enum.Name }} values", s)
}

// String implements fmt.Stringer
func (v {{ $enum.Name }}) String() string {
    if name, found := _{{ $enum.Name }}Name[v]; found {
        return name
    }
    return fmt.Sprintf("unknown(%v)", {{ goType $scope $enum.Type }}(v))
}

{{ if $options.EmitSQLSupport }}
// Value implements database.sql.driver.Valuer
func (v {{ $enum.Name}}) Value() (driver.Value, error) {
        return v.String(), nil
}

// Scan implements database.sql.Scanner
func (i *{{ $enum.Name}}) Scan(src interface{}) error {
        if src == nil {
                return nil
        }

        var str string
        switch v := src.(type) {
        case []byte:
                str = string(v)
        case string:
                str = v
        case fmt.Stringer:
                str = v.String()
        default:
                return fmt.Errorf("invalid value of {{ $enum.Name}}: %[1]T(%[1]v)", src)
        }

        val, err := {{ $enum.Name}}String(str)
        if err != nil {
                return err
        }

        *i = val
        return nil
}
{{ end }}

func (v *{{ $enum.Name}}) Clone() zserio.ZserioType {
  clone := *v
  return &clone
}

func (v *{{ $enum.Name}}) LoadDefaultValues() error {
  return nil
}

// MarshalZserio implements the zserio.Marshaler interface.
func (v *{{ $enum.Name}}) MarshalZserio(w zserio.Writer) error {
    {{- if not $native.Type.IsBuiltin }}
      panic("only builtin types supported")
    {{- else if eq $native.Type.Bits 0 }}
      return ztype.Write{{ title $native.Type.Name }}(w, {{ goType $scope $native.Type }}(*v))
    {{- else if eq $native.Type.Name "bit" }}
      return ztype.WriteUnsignedBits(w, uint64(*v), {{ $native.Type.Bits }})
    {{- else if eq $native.Type.Name "int" }}
      return ztype.WriteSignedBits(w, int64(*v), {{ $native.Type.Bits }})
    {{- else }}
      panic("unsupported type")
    {{- end }}
}

// UnmarshalZserio implements the zserio.Unmarshaler interface.
func (v *{{ $enum.Name }}) UnmarshalZserio(r zserio.Reader) error {
    {{- if not $native.Type.IsBuiltin }}
      panic("only builtin types supported")
    {{- else }}
      {{- if eq $native.Type.Bits 0 }}
        if value, err := ztype.Read{{ title $native.Type.Name }}(r); err != nil {
      {{- else if eq $native.Type.Name "int" }}
        if value, err := ztype.ReadSignedBits(r, {{ $native.Type.Bits }}); err != nil {
      {{- else }}
        if value, err := ztype.ReadUnsignedBits(r, {{ $native.Type.Bits }}); err != nil {
      {{- end }}
          return err
        } else {
          *v = {{ $enum.Name }}(value)
        }
        return nil
    {{- end }}
}

// ZserioBitSize implements the zserio.Marshaler interface.
func (v *{{ $enum.Name}}) ZserioBitSize(bitPosition int) (int, error) {
  endBitPosition := bitPosition
{{- if not $native.Type.IsBuiltin }}
      panic("only builtin types supported")
{{- else }}
  {{ template "builtin_bitsizeof.go.tmpl" dict "pkg" $scope "name" "*v" "native" $native "isarray" false }}
{{- end }}
  return endBitPosition - bitPosition, nil
}

func (v *{{ $enum.Name}}) ZserioCreatePackingContext(contextNode *zserio.PackingContextNode) error {
  contextNode.Context = &ztype.DeltaContext[{{ goType $scope $native.Type }}]{}
  return nil
}

func (v *{{ $enum.Name}}) ZserioInitPackingContext(contextNode *zserio.PackingContextNode) error {
  if !contextNode.HasContext() {
    return errors.New("context node has no packing")
  }
  context, ok := contextNode.Context.(*ztype.DeltaContext[{{ goType $scope $native.Type }}])
  if !ok {
    return errors.New("unsupported packing context type")
  }

  traits := {{- template "instantiate_array_traits.go.tmpl" dict "pkg" $scope "type" $native.Type }}
  context.Init(&traits, {{ goType $scope $native.Type }}(*v))
  return nil
}


func (v *{{ $enum.Name}}) UnmarshalZserioPacked(contextNode *zserio.PackingContextNode, r zserio.Reader) error {
  context, ok := contextNode.Context.(*ztype.DeltaContext[{{ goType $scope $native.Type }}])
  if !ok {
    return errors.New("unsupported packing context type")
  }

  traits := {{- template "instantiate_array_traits.go.tmpl" dict "pkg" $scope "type" $native.Type }}
  if tempValue, err := context.Read(&traits, r); err != nil {
    return err
  } else {
    (*v) = {{ $enum.Name }}(tempValue)
    return nil
  }
}

func (v *{{ $enum.Name}}) MarshalZserioPacked(contextNode *zserio.PackingContextNode, w zserio.Writer) error {
  context, ok := contextNode.Context.(*ztype.DeltaContext[{{ goType $scope $native.Type }}])
  if !ok {
    return errors.New("unsupported packing context type")
  }

  traits := {{- template "instantiate_array_traits.go.tmpl" dict "pkg" $scope "type" $native.Type }}
  return context.Write(&traits, w, {{ goType $scope $native.Type }}(*v))
}

func (v *{{ $enum.Name}}) ZserioInitializeOffsetsPacked(contextNode *zserio.PackingContextNode, bitPosition int) int {
  return 0
}

func (v *{{ $enum.Name}}) ZserioBitSizePacked(contextNode *zserio.PackingContextNode, bitPosition int) (int, error) {
  context, ok := contextNode.Context.(*ztype.DeltaContext[{{ goType $scope $native.Type }}])
  if !ok {
      return 0, errors.New("invalid packing context")
  }
  delta, err := context.BitSizeOf(&{{ template "instantiate_array_traits.go.tmpl" dict "pkg" $scope "type" $native.Type }}, bitPosition, {{ goType $scope $native.Type }}(*v))
  if err != nil {
      return 0, err
  }
  return delta, nil
}
