
{{- $scope := .pkg }}
{{- $field := .field }}
{{- $native := goNativeType $scope $field.Type }}
{{- $go_type := goType $scope $field.Type }}
{{/* Arrays must use the native type, due to the restriction with the array traits */}}
{{ $field.Name }} {{ if $field.IsOptional }}*{{end}}{{ if $field.Array }}[]{{ end }}{{ $go_type }}  `json:"{{ $field.Name }}"` 
