{{- $scope := .pkg }}
{{- $type := .type }}
{{- $traits := goArrayTraits $scope $type }}
{{- template "array_traits_type.go.tmpl" dict "pkg" $scope "type" $type }} {
{{- if eq $traits "ztype.BitFieldArrayTraits" -}}
    NumBits: uint8(
    {{- if gt $type.Bits 0 }}
        {{- $type.Bits }}
    {{- else if $type.LengthExpression }}
        {{- goExpression $scope $type.LengthExpression }}
    {{- else if eq $type.Name "uint8" }}8
    {{- else if eq $type.Name "uint16" }}16
    {{- else if eq $type.Name "uint32" }}32
    {{- else if eq $type.Name "uint64" }}64
    {{- else if eq $type.Name "int8" }}8
    {{- else if eq $type.Name "int16" }}16
    {{- else if eq $type.Name "int32" }}32
    {{- else if eq $type.Name "int64" }}64
    {{- else }}UNSUPPORTED
    {{- end }})
{{- end -}}
}{{/* remove trailing newlines */ -}}
