{{ template "preamble.go.tmpl" dict "rootPackage" .rootPackage "pkg" .pkg "comment" .pkg.Comment }}
{{ $scope := .pkg }}

{{- range $subtype := .pkg.Subtypes }}
type {{ $subtype.Name }} {{ goType $scope .Type }}
{{- end }}
