{{ $scope := .pkg }}
{{ $field := .field }}
{{ $index := .index }}
{{ $native := goNativeType $scope $field.Type }}

field{{ $field.Name }}Node := &zserio.PackingContextNode{}
contextNode.AddChild(field{{ $field.Name }}Node)
{{- if and (not $field.Array) (not (eq $native.Type.Name "bool")) (not (eq $native.Type.Name "string")) (not (eq $native.Type.Name "extern")) }}
    {{- if $native.IsMarshaler }}
        var field{{ $field.Name }}Ptr *{{ goType $scope $native.Type }}
        if err := field{{ $field.Name }}Ptr.ZserioCreatePackingContext(field{{ $field.Name }}Node); err != nil {
            return err
        }
    {{- else }}
        // The field is not a marshalable type, therefore create use a delta context.
        field{{ $field.Name }}Node.Context = &ztype.DeltaContext[{{ goType $scope $native.Type }}]{}
    {{- end }}
{{- end }}
