name: Run tests

on: push

jobs:
  test:
    name: Run tests

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2

      - name: Mount bazel cache
        uses: actions/cache@v2
        with:
          path: "~/.cache/bazel"
          key: bazel

      - uses: pre-commit/action@v2.0.3

      - name: gazelle
        run: |
          ./bin/ensure-unchanged ./bin/gazelle -- -build_tags integration
          ./bin/ensure-unchanged ./bin/gazelle-update-repos

      - run: bazel test //...
